// 代码
.code-text {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    word-wrap: break-word;
    white-space: pre-wrap;

    .key {
        color: var(--code-color-property);
    }

    .keyword {
        color: var(--code-color-keyword);
    }

    .string {
        color: var(--code-color-string);
    }

    .number {
        color: var(--code-color-number);
    }

    .comment {
        color: var(--code-color-comment);
    }
}
