// 时间选择器
.date-picker {
  position: relative;

  // 日历
  &-calendal {
    position: absolute;
    top: 2.5rem;
    left: 0;
    z-index: 20;
    padding: 0.5rem;
    width: 100%;
    line-height: 2rem;
    background-color: var(--bg-1);
    border-radius: 0.5rem;
    box-shadow: $shadow;
    text-align: center;
    cursor: default;

    // 日历-头部
    &-header {
      display: flex;

      &-icon {
        @extend %hover;
        min-width: 2rem;
        font-size: $font-large;
      }

      &-content {
        flex: 1;
      }
    }

    // 日历-星期
    &-week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    // 日历-内容
    &-body {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      span {
        @extend %hover;
        color: get-color(0.2);

        &.current {
          color: get-color(0.7);

          &.active,
          &:hover {
            color: var(--theme-color);
          }
        }
      }
    }
  }
}
