// 对话框
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--border-color);
  box-shadow: $shadow;

  &-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    min-width: 30vmin;
    background-color: var(--bg-1);
    border-radius: 0.5rem;
  }

  &-title {
    text-align: center;
  }

  &-content {
    padding: 0.5rem;
  }

  &-action {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;

    button {
      @extend %hover;
    }
  }
}
