// icon 图标
i.iconfont {
    font-family: iconfont !important;
    font-style: normal !important;
    font-size: inherit !important;
}

// 链接
.link,
a {
    position: relative;
    text-decoration: none;
    color: var(--theme-color);
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        transition: $transition;
        background-color: var(--theme-color);
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }
}

// 按钮、输入框、文本域
button,
input,
textarea {
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: unset;
    color: get-color(0.7);
    transition: $transition;
}

[contenteditable] {
    outline: none;
}

// 关闭
.close {
    $size: 1.2em;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
    border-radius: 50%;
    user-select: none;
    @extend %hover;
}

// 底部
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    line-height: 2rem;
    color: get-color(0.3);
    background-color: var(--bg-1);
}
