// 布局
.layout {
    @extend %full;
    position: relative;
    padding: 2em 0 2em 20vmin;
    overflow: auto;

    // page router view
    article > div {
        @extend %flex-column;
        gap: 0.5em;
    }

    // 侧边栏
    aside {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        padding: 0.5rem;
        height: 100%;
        width: 20vmin;
        background-color: var(--bg-1);
        box-shadow: $shadow;

        .item {
            color: get-color(0.3);
            line-height: 1.5em;

            .child {
                display: block;
                padding-left: 1em;
                color: get-color(0.7);
                @extend %hover;

                &:hover,
                &.active {
                    color: var(--theme-color);
                }
            }
        }
    }

    // 主体
    main {
        background-color: var(--bg-1);

        @include header(space-between);

        // 导航标签
        header {
            position: fixed;
            top: 0;
            z-index: 10;
            background-color: var(--bg-1);
            width: calc(100vw - 20vmin);

            .tabs {
                .item {
                    display: flex;
                    align-items: center;
                    gap: 0.2em;
                    position: relative;
                    padding: 0 0.5em;
                    color: get-color(0.7);
                    cursor: pointer;
                    @extend %hover;
                    user-select: none;

                    &:hover {
                        color: var(--theme-color);
                    }

                    &.active {
                        color: var(--theme-color);

                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background-color: var(--theme-color);
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }

        article {
            padding: 0.5em;
            min-height: calc(100vh - 4rem);
        }
    }
}
