table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    th,
    td {
        padding: 0 0.5em;
        line-height: 2;
        border: 1px solid var(--border-color);
    }

    thead {
        background-color: var(--bg-2);
    }

    tr {
        transition: $transition;

        &:hover {
            background-color: rgba(var(--theme-rgb), 0.1);
        }
    }
}
