@import './base.styl'
@import './highlight.styl'

#_saber
  width 100%
  height 100%
  overflow hidden
  position relative

.layout
  @extend #_saber
  display flex
  flex-direction column
  .main
    flex 1
    display flex
    flex-direction column


.page-header
  h1
    font-size 2.6rem
  h2
    font-size 0.83rem

@media (max-width 768px)
  .page-header
    h1
      font-size 1.8rem
    h2
      font-size 0.83rem
