/* 全局变量 */
//$bgColor: #fef8ec;
$bgColor: #2b2b2b;
//$primaryColor: #ee77c4;
$primaryColor: #cc7832;
//$textColor: #004d57;
$textColor: #A9B7C6;
//$linkColor: #e64100;
$linkColor: #287BDE;
//$obviousColor: #8ca6a6;
$obviousColor: #6D9CBE;
$tagColor: #0094f0;

$lineHeight: 1.8;
