.default
  overflow auto

  h1
    font-size 2rem
    // color #a88c00
    color #f49725

  h2
    font-size 1.8rem
    color #b3694d

  h3
    font-size 1.6rem
    color #a88c00

  h4
    font-size 1.4rem
    color #5842ff

  h5
    font-size 1.2rem
    color #00bdd6

  h6
    font-size 1rem
    color #0095a8

  .tags
    .tag
      color #0094f0
      margin-right 1vmin

      &::after
        background-color @color

      &:last-child
        margin-right 0

  .default-header
    line-height $lineHeight

    .time
      font-size 12px
      color $obviousColor

  .default-body
    color $textColor
    line-height $lineHeight

  .prev-next
    overflow hidden
    font-size 12px

    .prev
      float left

    .next
      float right

    .prev, .next
      color #ff5792

      &::after
        background-color @color
