.header
  display flex
  background-color #ebe4d1
  box-shadow 0 1px 10px #999999

  .nav
    display flex

    .item
      flex 1
      display flex
      width 10vmin
      height 5vmin
      justify-content center
      align-items center