@import "../../variable";

html, body, #_saber, .layout {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

html {
  font-size: 18px;
  line-height: $lineHeight;
  background-color: $bgColor;
  text-shadow: 1px 1px 3px #acacac;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 链接 hover 效果 */
a {
  display: inline-block;
  min-height: 1.8em;
  line-height: $lineHeight;
  $color: $linkColor;
  text-decoration: none;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $color;
    transition: all 0.2s ease;
  }

  &:hover::after {
    left: 0;
    width: 100%;
  }
}

.layout {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 2vmin;
}

/* Animations */
.main {
  animation: page-in 0.6s ease forwards;
}

.page-out {
  animation: page-out 0.3s ease forwards;
}
