#app
  .page
    .page-edit, .page-title, .content__default:not(.custom)
      max-width: 1200px;

  .line-number, code, kbd
    font-family "Fira Code Retina", "JetBrains Mono", "Source Code Variable medium", "Source Code Variable", "source code pro", "Menlo", "Monaco", "Consolas", "Courier New", "monospace"
    font-size 14px
 
  .valine-wrapper #valine
    max-width 1200px
