@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #ebe4d1;
    box-shadow: 0 1px 10px #999999;

    .nav {
      display: flex;

      .item {
        width: 15vmin;
        height: 10vmin;
      }
    }
  }
}
