@media (max-width: 768px)
  .header
    display flex
    background-color #ebe4d1
    box-shadow 0 1px 10px #999999

    .nav
      display flex

      .item
        width 15vmin
        height 10vmin