@media (max-width: 768px) {
  html, body, #_saber, .layout, .main {
    display: block;
    height: auto;
    position: static;
    overflow: auto;
  }

  body {
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 12vmin;
    padding-bottom: 1.8rem;
  }

  html {
    font-size: 14px;
    position: relative;
  }
}
