:root {
    // 主题色
    // --theme-color: #5ca1ff;
    --theme-color: #f7630c;
    --theme-rgb: 247, 99, 12;

    --bg-0: #ffffff;
    --bg-1: #f9f9f9;
    --bg-2: #efefef;
    --bg-3: #e1e1e1;
    --border-color: #cccccc;

    --bg: 255, 255, 255;
    --color: 0, 0, 0;

    // 代码颜色
    --code-color-property: #0451a5;
    --code-color-string: #a31515;
    --code-color-keyword: #0000ff;
    --code-color-number: #098658;
    --code-color-comment: #008000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-0: #000000;
        --bg-1: #212121;
        --bg-2: #313131;
        --bg-3: #414141;
        --border-color: #515151;

        --bg: 0, 0, 0;
        --color: 255, 255, 255;

        // 代码颜色
        --code-color-property: #9cdcfe;
        --code-color-string: #ce9178;
        --code-color-keyword: #569cd6;
        --code-color-number: #b5cea8;
        --code-color-comment: #6a9955;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-size: $font-normal;
    color: get-color(0.7);
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--bg-1);

    > div {
        flex: 1;
    }
}

::selection {
    background-color: rgba(var(--theme-rgb), 0.3);
}

input {
    accent-color: var(--theme-color);
    cursor: pointer;

    &::placeholder {
        color: get-color(0.3);
    }
}
