:root {
    // 主题色
    // --theme-color: #5ca1ff;
    --theme-color: #ff9800;

    --bg: 255, 255, 255;
    --color: 0, 0, 0;

    // 代码颜色
    --code-color-property: #0451a5;
    --code-color-string: #a31515;
    --code-color-keyword: #0000ff;
    --code-color-number: #098658;
    --code-color-comment: #008000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: 0, 0, 0;
        --color: 255, 255, 255;

        // 代码颜色
        --code-color-property: #9cdcfe;
        --code-color-string: #ce9178;
        --code-color-keyword: #569cd6;
        --code-color-number: #b5cea8;
        --code-color-comment: #6a9955;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-size: $font-normal;
    color: get-color(0.8);
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: get-color(0.1);

    > div {
        flex: 1;
    }
}

::selection {
    background-color: get-color(0.1);
}
