:root {
  // 主题色
  // --theme-color: #5ca1ff;
  --theme-color: #f7630c;
  --theme-rgb: 247, 99, 12;

  --bg-0: #ffffff;
  --bg-1: #f9f9f9;
  --bg-2: #efefef;
  --bg-3: #e1e1e1;
  --border-color: #cccccc;

  --bg: 255, 255, 255;
  --color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-0: #1f1f1f;
    --bg-1: #313131;
    --bg-2: #414141;
    --bg-3: #515151;
    --border-color: #515151;

    --bg: 0, 0, 0;
    --color: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-size: $font-normal;
  color: get-color(0.7);
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-1);

  > div {
    flex: 1;
  }
}

::selection {
  background-color: rgba(var(--theme-rgb), 0.3);
}

input {
  accent-color: var(--theme-color);
  cursor: pointer;

  &::placeholder {
    color: get-color(0.3);
  }
}

iframe {
  border: none;
  // pointer-events: none;
}
